.bt-sst-tracking-container.bt-sst-tracking-primary-form-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 60vh; */
    font-family: Arial, sans-serif;
    text-align: center;
    /* border: 1px solid; */
}

.bt-sst-tracking-container.bt-sst-tracking-primary-form-2 .tracking-text {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bt-sst-tracking-container.bt-sst-tracking-primary-form-2 .tracking-form-2 {
    /* display: flex; */
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.bt-sst-tracking-container.bt-sst-tracking-primary-form-2 .tracking-input {
    padding: 15px;
    width: 50%;
    border-radius:20px 0 0 20px;
    font-size: 1rem;
    text-align: center;
    border: none;
    background: #3c3c3c2b;
    height: unset;
}

.bt-sst-tracking-container.bt-sst-tracking-primary-form-2 .tracking-button {
    padding: 15px 20px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    background: #005e4b;
    color: white;
    line-height: unset;
    text-transform: unset;
}

.bt-sst-tracking-container.bt-sst-tracking-primary-form-2 .tracking-image {
    margin-bottom: 20px;
}

.bt-sst-tracking-container.bt-sst-tracking-primary-form-2 .tracking-image div {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px){ 
    .bt-sst-tracking-container.bt-sst-tracking-primary-form-2 .tracking-text {
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}